<div ng-include="'tpl/header.html'"></div>
<ion-content class="has-header has-footer ">
    <div class="list list-inset">
        <div class="item" ng-click="show()">关于</div>
        <div class="item" ng-click="jump('start')">退出登录</div>
    </div>


</ion-content>
<div ng-include="'tpl/footer.html'"></div>
<script type="text/ng-template" id="setting.html">
    <ion-modal-view>
        <ion-content>
            <div class="list list-inset">
                <h1 class="text-center">关于</h1>
                <div class=item>开发者： yihong</div>
                <div class=item>版本号： V1.0</div>
               <button class="button  button-balanced button-block" ng-click="hide()">关闭</button>
            </div>
        </ion-content>
    </ion-modal-view>
</script>